<hr style="border:5px solid #108999"> </hr>

# Must Know Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [3]:
t = (3,4,5,6)
t

(3, 4, 5, 6)

In [4]:
type(t)

tuple

In [5]:
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [6]:
type(l)

list

In [7]:
s = 'azsdce'
s

'azsdce'

In [8]:
type(s)

str

In [9]:
for i in t:
    print(i, end=" ")

3 4 5 6

In [11]:
for x in s:
    print(x, end=" ")

a z s d c e

In [12]:
for x in range(100):
    if x % 2 == 0:
        print(x, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [21]:
for i in range(3):
    for j in range(5):
        for k in range(10):
            print([i, j, k], end=" ")

[0, 0, 0] [0, 0, 1] [0, 0, 2] [0, 0, 3] [0, 0, 4] [0, 0, 5] [0, 0, 6] [0, 0, 7] [0, 0, 8] [0, 0, 9] [0, 1, 0] [0, 1, 1] [0, 1, 2] [0, 1, 3] [0, 1, 4] [0, 1, 5] [0, 1, 6] [0, 1, 7] [0, 1, 8] [0, 1, 9] [0, 2, 0] [0, 2, 1] [0, 2, 2] [0, 2, 3] [0, 2, 4] [0, 2, 5] [0, 2, 6] [0, 2, 7] [0, 2, 8] [0, 2, 9] [0, 3, 0] [0, 3, 1] [0, 3, 2] [0, 3, 3] [0, 3, 4] [0, 3, 5] [0, 3, 6] [0, 3, 7] [0, 3, 8] [0, 3, 9] [0, 4, 0] [0, 4, 1] [0, 4, 2] [0, 4, 3] [0, 4, 4] [0, 4, 5] [0, 4, 6] [0, 4, 7] [0, 4, 8] [0, 4, 9] [1, 0, 0] [1, 0, 1] [1, 0, 2] [1, 0, 3] [1, 0, 4] [1, 0, 5] [1, 0, 6] [1, 0, 7] [1, 0, 8] [1, 0, 9] [1, 1, 0] [1, 1, 1] [1, 1, 2] [1, 1, 3] [1, 1, 4] [1, 1, 5] [1, 1, 6] [1, 1, 7] [1, 1, 8] [1, 1, 9] [1, 2, 0] [1, 2, 1] [1, 2, 2] [1, 2, 3] [1, 2, 4] [1, 2, 5] [1, 2, 6] [1, 2, 7] [1, 2, 8] [1, 2, 9] [1, 3, 0] [1, 3, 1] [1, 3, 2] [1, 3, 3] [1, 3, 4] [1, 3, 5] [1, 3, 6] [1, 3, 7] [1, 3, 8] [1, 3, 9] [1, 4, 0] [1, 4, 1] [1, 4, 2] [1, 4, 3] [1, 4, 4] [1, 4, 5] [1, 4, 6] [1, 4, 7] [1, 4, 8] [1, 4, 9] [2, 0, 0] [2, 0, 1] [2, 0, 2] [2, 0, 3] [2, 0, 4] [2, 0, 5] [2, 0, 6] [2, 0, 7] [2, 0, 8] [2, 0, 9] [2, 1, 0] [2, 1, 1] [2, 1, 2] [2, 1, 3] [2, 1, 4] [2, 1, 5] [2, 1, 6] [2, 1, 7] [2, 1, 8] [2, 1, 9] [2, 2, 0] [2, 2, 1] [2, 2, 2] [2, 2, 3] [2, 2, 4] [2, 2, 5] [2, 2, 6] [2, 2, 7] [2, 2, 8] [2, 2, 9] [2, 3, 0] [2, 3, 1] [2, 3, 2] [2, 3, 3] [2, 3, 4] [2, 3, 5] [2, 3, 6] [2, 3, 7] [2, 3, 8] [2, 3, 9] [2, 4, 0] [2, 4, 1] [2, 4, 2] [2, 4, 3] [2, 4, 4] [2, 4, 5] [2, 4, 6] [2, 4, 7] [2, 4, 8] [2, 4, 9]

In [22]:
for i in ['Product A', 'Product B']:
    for j in range(10):
        print([i, j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product A', 5]
['Product A', 6]
['Product A', 7]
['Product A', 8]
['Product A', 9]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]
['Product B', 5]
['Product B', 6]
['Product B', 7]
['Product B', 8]
['Product B', 9]

In [23]:
products = ['Product A', 'Product B']
expected_sales = [1000, 2000, 3000, 4000, 5000]

for i in products:
    for j in expected_sales:
        print([i, j])

['Product A', 1000]
['Product A', 2000]
['Product A', 3000]
['Product A', 4000]
['Product A', 5000]
['Product B', 1000]
['Product B', 2000]
['Product B', 3000]
['Product B', 4000]
['Product B', 5000]

In [31]:
print('Product  | Expected Sales')

products = ['Product A', 'Product B']
expected_sales = [1000, 2000, 3000, 4000, 5000]
time_horizon = (1,3,12)

for prod in products:
    for sale in expected_sales:
        for t_hor in time_horizon:
            print([prod, sale*t_hor])

Product  | Expected Sales
['Product A', 1000]
['Product A', 3000]
['Product A', 12000]
['Product A', 2000]
['Product A', 6000]
['Product A', 24000]
['Product A', 3000]
['Product A', 9000]
['Product A', 36000]
['Product A', 4000]
['Product A', 12000]
['Product A', 48000]
['Product A', 5000]
['Product A', 15000]
['Product A', 60000]
['Product B', 1000]
['Product B', 3000]
['Product B', 12000]
['Product B', 2000]
['Product B', 6000]
['Product B', 24000]
['Product B', 3000]
['Product B', 9000]
['Product B', 36000]
['Product B', 4000]
['Product B', 12000]
['Product B', 48000]
['Product B', 5000]
['Product B', 15000]
['Product B', 60000]

In [2]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for x in range(0, 11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

Turn this 'range' object into a list of values.

In [4]:
x = list(range(11))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [9]:
for y in range(10):
    print(y)

0
1
2
3
4
5
6
7
8
9

Repeat the same task, this time printing the values from the output on the same line.

In [10]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [11]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [12]:
for x in products_on_sale:
    for y in sale_prices:
        print([x, y])

['Chair_Type_1', 100]
['Chair_Type_1', 120]
['Chair_Type_1', 135]
['Chair_Type_1', 150]
['Chair_Type_2', 100]
['Chair_Type_2', 120]
['Chair_Type_2', 135]
['Chair_Type_2', 150]
['Chair_Type_3', 100]
['Chair_Type_3', 120]
['Chair_Type_3', 135]
['Chair_Type_3', 150]
['Chair_Type_4', 100]
['Chair_Type_4', 120]
['Chair_Type_4', 135]
['Chair_Type_4', 150]

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [13]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element. 
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

In [17]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

In [20]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print(f'Expected revenue for {chair_type} if {quantity} chairs are to be sold: {(price*quantity)}')

Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_1 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_1 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_1 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_2 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_2 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_2 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_3 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_3 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_3 if 1300 chairs are to be sold: 195000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 100000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 150000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 130000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 120000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 180000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 156000
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 135000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 202500
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 175500
Expected revenue for Chair_Type_4 if 1000 chairs are to be sold: 150000
Expected revenue for Chair_Type_4 if 1500 chairs are to be sold: 225000
Expected revenue for Chair_Type_4 if 1300 chairs are to be sold: 195000

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [35]:
numbers = [1, 4, 49, 56, 89, 100]
numbers

[1, 4, 49, 56, 89, 100]

In [36]:
new_numbers = []

for n in numbers:
    new_numbers.append(n * 2)

print(new_numbers)

[2, 8, 98, 112, 178, 200]

In [37]:
new_numbers = [n * 2 for n in numbers]
print(new_numbers)

[2, 8, 98, 112, 178, 200]

In [43]:
odd_numbers = [n for n in numbers if n % 2 != 0]
print(odd_numbers)

[1, 49, 89]

In [44]:
even_numbers = [n for n in numbers if n % 2 == 0]
print(even_numbers)

[4, 56, 100]

In [45]:
type(even_numbers)

list

In [46]:
result = [n**m for n in range(10) for m in range(20)]
print(result)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683, 59049, 177147, 531441, 1594323, 4782969, 14348907, 43046721, 129140163, 387420489, 1162261467, 1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144, 1048576, 4194304, 16777216, 67108864, 268435456, 1073741824, 4294967296, 17179869184, 68719476736, 274877906944, 1, 5, 25, 125, 625, 3125, 15625, 78125, 390625, 1953125, 9765625, 48828125, 244140625, 1220703125, 6103515625, 30517578125, 152587890625, 762939453125, 3814697265625, 19073486328125, 1, 6, 36, 216, 1296, 7776, 46656, 279936, 1679616, 10077696, 60466176, 362797056, 2176782336, 13060694016, 78364164096, 470184984576, 2821109907456, 16926659444736, 101559956668416, 609359740010496, 1, 7, 49, 343, 2401, 16807, 117649, 823543, 5764801, 40353607, 282475249, 1977326743, 13841287201, 96889010407, 678223072849, 4747561509943, 33232930569601, 232630513987207, 1628413597910449, 11398895185373143, 1, 8, 64, 512, 4096, 32768, 262144, 2097152, 16777216, 134217728, 1073741824, 8589934592, 68719476736, 549755813888, 4398046511104, 35184372088832, 281474976710656, 2251799813685248, 18014398509481984, 144115188075855872, 1, 9, 81, 729, 6561, 59049, 531441, 4782969, 43046721, 387420489, 3486784401, 31381059609, 282429536481, 2541865828329, 22876792454961, 205891132094649, 1853020188851841, 16677181699666569, 150094635296999121, 1350851717672992089]

In [50]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
[num ** 3 for num in range(1, 11) if num % 2 == 0]

[8, 64, 216, 512, 1000]

In [52]:
[num ** 2 if num % 2 == 0 else "odd" for num in range(1, 21)]

['odd',
 4,
 'odd',
 16,
 'odd',
 36,
 'odd',
 64,
 'odd',
 100,
 'odd',
 144,
 'odd',
 196,
 'odd',
 256,
 'odd',
 324,
 'odd',
 400]

In [32]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [33]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

In [34]:
sales_revenue = filter(None, [print(chair_type, price*quantity) for chair_type in products_on_sale for price in sale_prices for quantity in quantities])

Chair_Type_1 100000
Chair_Type_1 150000
Chair_Type_1 130000
Chair_Type_1 120000
Chair_Type_1 180000
Chair_Type_1 156000
Chair_Type_1 135000
Chair_Type_1 202500
Chair_Type_1 175500
Chair_Type_1 150000
Chair_Type_1 225000
Chair_Type_1 195000
Chair_Type_2 100000
Chair_Type_2 150000
Chair_Type_2 130000
Chair_Type_2 120000
Chair_Type_2 180000
Chair_Type_2 156000
Chair_Type_2 135000
Chair_Type_2 202500
Chair_Type_2 175500
Chair_Type_2 150000
Chair_Type_2 225000
Chair_Type_2 195000
Chair_Type_3 100000
Chair_Type_3 150000
Chair_Type_3 130000
Chair_Type_3 120000
Chair_Type_3 180000
Chair_Type_3 156000
Chair_Type_3 135000
Chair_Type_3 202500
Chair_Type_3 175500
Chair_Type_3 150000
Chair_Type_3 225000
Chair_Type_3 195000
Chair_Type_4 100000
Chair_Type_4 150000
Chair_Type_4 130000
Chair_Type_4 120000
Chair_Type_4 180000
Chair_Type_4 156000
Chair_Type_4 135000
Chair_Type_4 202500
Chair_Type_4 175500
Chair_Type_4 150000
Chair_Type_4 225000
Chair_Type_4 195000

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

In [54]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
[num * 10 for num in range(1, 11) if num % 2 == 0]

[20, 40, 60, 80, 100]

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

In [61]:
for num in range(1, 11):
    if num % 2 == 0:
        print(num * 10, end=" ")

20 40 60 80 100

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

In [64]:
[n * 10 if n % 2 == 0 else "None" for n in range(1, 11)]

['None', 20, 'None', 40, 'None', 60, 'None', 80, 'None', 100]

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

In [67]:
def multiply_by_10(n):
    return n * 10

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

In [68]:
multiply_by_10(5)

50

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

In [69]:
(lambda n: n * 10)(7)

70

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

In [73]:
product_xy = (lambda x, y : x * y)(4, 20)
product_xy

80

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 13.

In [76]:
(lambda x: (135 - x ** 3) ** 4 / (1 + x) ** 5)(3)

132860.25

In [75]:
(lambda x: (135 - x ** 3) ** 4 / (1 + x) ** 5)(13)

33613556.48006783

In [77]:
def raise_to_power_2(x):
    return x ** 2

In [78]:
raise_to_power_2(3)

9

In [79]:
(lambda x: x ** 2)(3)

9

In [80]:
type(lambda x: x ** 2)

function

In [81]:
(lambda x: x + x)(10)

20

In [84]:
(lambda x, y : x - y)(20, 10)

10

In [89]:
int((lambda x, y : x / y)(20.0, 10.0))

2