# Preprocessing with NumPy

In [1]:
import numpy as np

## Checking for Missing Values

In [2]:
file_num_nan = "Lending-company-Numeric-NAN.csv"
file_num = "Lending-company-Numeric.csv"
file_total_Price = "Lending-Company-Total-Price.csv"

In [3]:
lending_co_data_numeric = np.loadtxt(file_num, delimiter=",")

In [4]:
np.isnan(lending_co_data_numeric)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [5]:
np.isnan(lending_co_data_numeric).sum()

0

In [7]:
lending_co_data_numeric_nan = np.loadtxt(file_num_nan, delimiter=';')

ValueError: could not convert string to float: ''

In [10]:
# if we change, loadtxt to genfromtxt, we get no ValueError
lending_co_data_numeric_nan = np.genfromtxt(file_num_nan, delimiter=';')

In [11]:
# find the nan values
np.isnan(lending_co_data_numeric_nan)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [ True, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [12]:
np.isnan(lending_co_data_numeric_nan).sum()

260

In [13]:
# find a way to account for the missing values before examining the data
lending_co_data_numeric_nan = np.genfromtxt(file_num_nan, 
                                            delimiter=';',
                                            filling_values=0)

In [14]:
np.isnan(lending_co_data_numeric_nan).sum()

0

In [15]:
# filling missing values: values that aren't part of our dataset, we can later substitute with something more appropriate, use a number greater than the highest value in the dataset
lending_co_data_numeric_nan = np.genfromtxt(file_num_nan, delimiter=';')

In [18]:
temp_fill = np.nanmax(lending_co_data_numeric_nan).round(2) + 1
temp_fill

64002.0

In [19]:
lending_co_data_numeric_nan = np.genfromtxt(file_num_nan, 
                                            delimiter=';',
                                            filling_values=temp_fill)

In [20]:
np.isnan(lending_co_data_numeric_nan).sum()

0

## Substituting Missing Values

In [22]:
lending_co_data_numeric_nan = np.genfromtxt(file_num_nan, delimiter=';')
lending_co_data_numeric_nan

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [   nan,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [26]:
temp_mean = np.nanmean(lending_co_data_numeric_nan, axis=0).round(2)

In [27]:
temp_mean[0]

2250.25

In [28]:
temp_fill = np.nanmax(lending_co_data_numeric_nan).round(2) + 1
lending_co_data_numeric_nan = np.genfromtxt(file_num_nan, 
                                            delimiter=';',
                                            filling_values=temp_fill)

In [29]:
temp_fill

64002.0

In [31]:
# only get the values in the first column
np.mean(lending_co_data_numeric_nan[:,0]).round(2)

4263.25

In [32]:
temp_mean[0]

2250.25

In [34]:
lending_co_data_numeric_nan[:,0] = np.where(lending_co_data_numeric_nan[:,0] == temp_fill,
                                            temp_mean[0],
                                            lending_co_data_numeric_nan[:,0])

In [35]:
np.mean(lending_co_data_numeric_nan[:,0]).round(2)

2250.25

In [36]:
# [1] = numbers of columns
# [0] = numbers of rows
for i in range(lending_co_data_numeric_nan.shape[1]):
    lending_co_data_numeric_nan[:,i] = np.where(lending_co_data_numeric_nan[:,i] == temp_fill,
                                                temp_mean[i],
                                                lending_co_data_numeric_nan[:,i])

In [37]:
for i in range(lending_co_data_numeric_nan.shape[1]):
    lending_co_data_numeric_nan[:,i] = np.where(lending_co_data_numeric_nan[:,i] < 0, 0, lending_co_data_numeric_nan[:,i])

## Reshaping

In [38]:
lending_co_data_numeric = np.loadtxt(file_num, delimiter=',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [39]:
# reshaping: certain conditions about shapes and sizes need to be met, not always possible to store the outputs of a function as a part of an existing array (or series)
lending_co_data_numeric.shape

# 1043 rows, 6 columns

(1043, 6)

In [42]:
np.reshape(lending_co_data_numeric, (6, 1043))

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

In [43]:
np.transpose(lending_co_data_numeric)

array([[ 2000.,  2000.,  1000., ...,  2000.,  1000.,  2000.],
       [   40.,    40.,    40., ...,    40.,    40.,    40.],
       [  365.,   365.,   365., ...,   365.,   365.,   365.],
       [ 3121.,  3061.,  2160., ...,  4201.,  2080.,  4601.],
       [ 4241.,  4171.,  3280., ...,  5001.,  3320.,  4601.],
       [13621., 15041., 15340., ..., 16600., 15600., 16600.]])

In [44]:
np.reshape(lending_co_data_numeric, (3, 500))

ValueError: cannot reshape array of size 6258 into shape (3,500)

In [45]:
np.reshape(lending_co_data_numeric, (3, 2086))

array([[ 2000.,    40.,   365., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  4601.,  4601., 16600.]])

In [46]:
np.reshape(lending_co_data_numeric, (2, 3, 1043))

array([[[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
        [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
        [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.]],

       [[ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
        [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
        [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]]])

In [47]:
np.reshape(lending_co_data_numeric, (1,1,2,3,1043))

array([[[[[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
          [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
          [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.]],

         [[ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
          [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
          [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]]]]])

In [48]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [49]:
lending_co_data_numeric_2 = np.reshape(lending_co_data_numeric, (6, 1043))
lending_co_data_numeric_2

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

In [50]:
lending_co_data_numeric.reshape(6, 1043)

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

## Removing Values

In [51]:
lending_co_data_numeric = np.loadtxt(file_num, delimiter=',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [54]:
lending_co_data_numeric.shape

(1043, 6)

In [55]:
lending_co_data_numeric.size

6258

In [56]:
np.delete(lending_co_data_numeric, 0).shape

(6257,)

In [57]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [59]:
# what to do to get rid of entire rows or columns?
np.delete(lending_co_data_numeric, 1, axis=0)

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       [ 2000.,    40.,   365.,  3041.,  4241., 15321.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [61]:
# remove the first, third and fifth column of the array
np.delete(lending_co_data_numeric, (0,2,4), axis=1)

array([[   40.,  3121., 13621.],
       [   40.,  3061., 15041.],
       [   40.,  2160., 15340.],
       ...,
       [   40.,  4201., 16600.],
       [   40.,  2080., 15600.],
       [   40.,  4601., 16600.]])

In [62]:
# how to remove both rows and columns simultaneously?
np.delete(np.delete(lending_co_data_numeric, [0,2,4], axis=1), [0,2,-1], axis=0)

array([[   40.,  3061., 15041.],
       [   40.,  3041., 15321.],
       [   50.,  3470., 13720.],
       ...,
       [   40.,  4240., 16600.],
       [   40.,  4201., 16600.],
       [   40.,  2080., 15600.]])

## Sorting Data

In [63]:
# import the dataset
lending_co_data_numeric = np.loadtxt(file_num, delimiter=',')

In [64]:
# display the dataset
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [65]:
# np.sort() takes an array and returns a sorted version in asc order
np.sort(lending_co_data_numeric)

array([[   40.,   365.,  2000.,  3121.,  4241., 13621.],
       [   40.,   365.,  2000.,  3061.,  4171., 15041.],
       [   40.,   365.,  1000.,  2160.,  3280., 15340.],
       ...,
       [   40.,   365.,  2000.,  4201.,  5001., 16600.],
       [   40.,   365.,  1000.,  2080.,  3320., 15600.],
       [   40.,   365.,  2000.,  4601.,  4601., 16600.]])

In [66]:
np.sort(lending_co_data_numeric).shape

(1043, 6)

In [67]:
lending_co_data_numeric.shape

(1043, 6)

In [80]:
np.sort(lending_co_data_numeric, axis=0)

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

In [79]:
# to tell numpy to refrain from using scientific notation, warning: this applies to the entire work
np.set_printoptions(suppress=True)

In [81]:
np.sort(lending_co_data_numeric, axis=None)

array([-2870., -2870., -2550., ..., 54625., 54625., 64001.])

In [70]:
np.sort(lending_co_data_numeric)

array([[   40.,   365.,  2000.,  3121.,  4241., 13621.],
       [   40.,   365.,  2000.,  3061.,  4171., 15041.],
       [   40.,   365.,  1000.,  2160.,  3280., 15340.],
       ...,
       [   40.,   365.,  2000.,  4201.,  5001., 16600.],
       [   40.,   365.,  1000.,  2080.,  3320., 15600.],
       [   40.,   365.,  2000.,  4601.,  4601., 16600.]])

In [88]:
np.sort(lending_co_data_numeric)

array([[-2870., -2870.,  -350.,    35.,   365.,  1000.],
       [-2550., -2100.,    35.,   150.,   365.,  1000.],
       [-2450., -2000.,    35.,   365.,  1000.,  1100.],
       ...,
       [  125.,   365.,  9000., 16751., 18751., 54625.],
       [  165.,   365.,  9000., 17650., 20001., 54625.],
       [  165.,   365.,  9000., 19001., 22001., 64001.]])

In [89]:
# the minus sign literally changes the sign of every individual element of the input variable
-np.sort(-lending_co_data_numeric)

array([[ 1000.,   365.,    35.,  -350., -2870., -2870.],
       [ 1000.,   365.,   150.,    35., -2100., -2550.],
       [ 1100.,  1000.,   365.,    35., -2000., -2450.],
       ...,
       [54625., 18751., 16751.,  9000.,   365.,   125.],
       [54625., 20001., 17650.,  9000.,   365.,   165.],
       [64001., 22001., 19001.,  9000.,   365.,   165.]])

In [90]:
lending_co_data_numeric

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

In [96]:
lending_co_data_numeric.sort(axis=0)
lending_co_data_numeric

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

In [97]:
lending_co_data_numeric[:,3]

array([-2870., -2550., -2450., ..., 16751., 17650., 19001.])

In [98]:
lending_co_data_numeric[:,3].sort()
lending_co_data_numeric

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

## Argument Functions

### np.argsort()

In [110]:
lending_co_data_numeric = np.loadtxt(file_num, delimiter=',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [111]:
np.argsort(lending_co_data_numeric)
# the function returns the indices that would sort this array

array([[1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       ...,
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5],
       [1, 2, 0, 3, 4, 5]])

In [112]:
np.sort(lending_co_data_numeric)

array([[   40.,   365.,  2000.,  3121.,  4241., 13621.],
       [   40.,   365.,  2000.,  3061.,  4171., 15041.],
       [   40.,   365.,  1000.,  2160.,  3280., 15340.],
       ...,
       [   40.,   365.,  2000.,  4201.,  5001., 16600.],
       [   40.,   365.,  1000.,  2080.,  3320., 15600.],
       [   40.,   365.,  2000.,  4601.,  4601., 16600.]])

In [113]:
np.sort(lending_co_data_numeric, axis=0)

array([[ 1000.,    35.,   365., -2870., -2870.,  -350.],
       [ 1000.,    35.,   365., -2550., -2100.,   150.],
       [ 1000.,    35.,   365., -2450., -2000.,  1100.],
       ...,
       [ 9000.,   125.,   365., 16751., 18751., 54625.],
       [ 9000.,   165.,   365., 17650., 20001., 54625.],
       [ 9000.,   165.,   365., 19001., 22001., 64001.]])

In [114]:
np.argsort(lending_co_data_numeric, axis=0)

array([[ 537,  443,    0,   32,   32,  482],
       [ 639,  327,  687,  166,  166,  493],
       [ 849,  432,  688,   85,   85,  166],
       ...,
       [  27,  326,  355,  568, 1019,  568],
       [ 277,   27,  357,  718, 1033,  534],
       [ 420,  408, 1042,  912,  912,   27]])

In [115]:
lending_co_data_numeric[482,5]

-350.0

In [116]:
lending_co_data_numeric = lending_co_data_numeric[np.argsort(lending_co_data_numeric[:,0])]
lending_co_data_numeric
# we refer to the code inside the square brackets as the condition

array([[ 1000.,    40.,   365.,  2200.,  3400., 15600.],
       [ 1000.,    40.,   365.,  2200.,  3800., 15600.],
       [ 1000.,    40.,   365.,  2000.,  3950., 15600.],
       ...,
       [ 9000.,   165.,   365., 14501., 16846., 64001.],
       [ 9000.,   125.,   365., 12001., 15751., 38626.],
       [ 9000.,   125.,   365., 12251., 14251., 25626.]])

In [104]:
lending_co_data_numeric.argsort(axis=0)

array([[   0,   22,    0,  199,  199,  172],
       [ 155,   62,  687,   53,   53,  160],
       [ 156,   38,  688,  169,  169,   53],
       ...,
       [1022, 1042,  355, 1024, 1037, 1023],
       [1031, 1039,  357,  941, 1029, 1024],
       [1042, 1040, 1042, 1027, 1027, 1040]])

In [105]:
lending_co_data_numeric

array([[ 1000.,    40.,   365.,  2200.,  3400., 15600.],
       [ 1000.,    40.,   365.,  2200.,  3800., 15600.],
       [ 1000.,    40.,   365.,  2000.,  3950., 15600.],
       ...,
       [ 9000.,   165.,   365., 14501., 16846., 64001.],
       [ 9000.,   125.,   365., 12001., 15751., 38626.],
       [ 9000.,   125.,   365., 12251., 14251., 25626.]])

### np.argwhere()

In [117]:
# load dataset and then display it
lending_co_data_numeric = np.loadtxt(file_num, delimiter=',')
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [132]:
np.argwhere(lending_co_data_numeric)
# goes over entire array and checks whether the individual element satisfy a given condition
# the outputs are indices for all the individual elements where the condition is met
# the coordinates for each value from the original array

array([[   0,    0],
       [   0,    1],
       [   0,    2],
       ...,
       [1042,    3],
       [1042,    4],
       [1042,    5]])

In [119]:
np.argwhere(lending_co_data_numeric == False)

array([[116,   4],
       [430,   3]])

In [133]:
lending_co_data_numeric[116]

array([ 1000.,    50.,   365., -1450.,     0., 13850.])

In [121]:
lending_co_data_numeric[430]

array([1000.,   50.,  365.,    0.,  550., 5650.])

In [122]:
lending_co_data_numeric

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [134]:
np.argwhere(lending_co_data_numeric > 1000)

array([[   0,    0],
       [   0,    3],
       [   0,    4],
       ...,
       [1042,    3],
       [1042,    4],
       [1042,    5]])

In [135]:
np.argwhere(lending_co_data_numeric < 1000)

array([[   0,    1],
       [   0,    2],
       [   1,    1],
       ...,
       [1041,    2],
       [1042,    1],
       [1042,    2]])

In [123]:
np.argwhere(lending_co_data_numeric % 2 == 0)

array([[   0,    0],
       [   0,    1],
       [   1,    0],
       ...,
       [1042,    0],
       [1042,    1],
       [1042,    5]])

In [124]:
np.isnan(lending_co_data_numeric).sum()
# there are zero missing values here

0

In [126]:
lending_co_data_numeric_nan = np.genfromtxt(file_num_nan, delimiter=';')
lending_co_data_numeric_nan

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [   nan,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [136]:
np.isnan(lending_co_data_numeric_nan)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [127]:
np.argwhere(np.isnan(lending_co_data_numeric_nan))

array([[  11,    3],
       [  15,    3],
       [  27,    3],
       [  58,    3],
       [  60,    4],
       [  85,    4],
       [ 117,    5],
       [ 152,    1],
       [ 152,    2],
       [ 152,    4],
       [ 172,    1],
       [ 175,    1],
       [ 175,    2],
       [ 176,    3],
       [ 177,    4],
       [ 178,    5],
       [ 211,    3],
       [ 229,    0],
       [ 230,    1],
       [ 237,    1],
       [ 247,    3],
       [ 251,    5],
       [ 252,    4],
       [ 258,    1],
       [ 260,    3],
       [ 262,    4],
       [ 271,    5],
       [ 272,    4],
       [ 284,    2],
       [ 284,    3],
       [ 297,    1],
       [ 297,    2],
       [ 300,    3],
       [ 315,    3],
       [ 315,    5],
       [ 327,    4],
       [ 336,    4],
       [ 343,    0],
       [ 344,    2],
       [ 346,    2],
       [ 363,    3],
       [ 375,    3],
       [ 377,    2],
       [ 398,    5],
       [ 416,    4],
       [ 428,    0],
       [ 432,    1],
       [ 433,    3],
       [ 434,    2],
       [ 440,    3],
       [ 441,    1],
       [ 446,    2],
       [ 455,    1],
       [ 456,    2],
       [ 458,    2],
       [ 461,    3],
       [ 467,    4],
       [ 468,    0],
       [ 469,    3],
       [ 470,    0],
       [ 481,    1],
       [ 482,    3],
       [ 484,    4],
       [ 489,    0],
       [ 493,    5],
       [ 499,    0],
       [ 504,    3],
       [ 506,    1],
       [ 517,    4],
       [ 518,    0],
       [ 521,    2],
       [ 530,    5],
       [ 532,    3],
       [ 534,    5],
       [ 547,    3],
       [ 549,    5],
       [ 553,    5],
       [ 554,    5],
       [ 559,    3],
       [ 566,    0],
       [ 566,    1],
       [ 566,    2],
       [ 567,    0],
       [ 567,    1],
       [ 567,    2],
       [ 581,    1],
       [ 581,    2],
       [ 582,    1],
       [ 582,    2],
       [ 583,    1],
       [ 583,    2],
       [ 593,    3],
       [ 594,    3],
       [ 595,    3],
       [ 596,    3],
       [ 609,    4],
       [ 609,    5],
       [ 610,    4],
       [ 610,    5],
       [ 611,    4],
       [ 611,    5],
       [ 612,    4],
       [ 612,    5],
       [ 623,    2],
       [ 623,    3],
       [ 624,    2],
       [ 624,    3],
       [ 625,    2],
       [ 625,    3],
       [ 626,    2],
       [ 626,    3],
       [ 627,    2],
       [ 627,    3],
       [ 636,    0],
       [ 637,    0],
       [ 637,    4],
       [ 637,    5],
       [ 638,    0],
       [ 638,    4],
       [ 638,    5],
       [ 639,    4],
       [ 639,    5],
       [ 640,    4],
       [ 640,    5],
       [ 641,    4],
       [ 641,    5],
       [ 653,    1],
       [ 653,    2],
       [ 653,    3],
       [ 653,    4],
       [ 654,    1],
       [ 654,    2],
       [ 654,    3],
       [ 654,    4],
       [ 655,    1],
       [ 655,    2],
       [ 655,    3],
       [ 655,    4],
       [ 685,    2],
       [ 686,    0],
       [ 701,    4],
       [ 704,    2],
       [ 724,    1],
       [ 724,    2],
       [ 730,    1],
       [ 730,    2],
       [ 730,    3],
       [ 731,    1],
       [ 731,    2],
       [ 731,    3],
       [ 732,    1],
       [ 732,    2],
       [ 732,    3],
       [ 733,    1],
       [ 733,    2],
       [ 733,    3],
       [ 742,    4],
       [ 747,    3],
       [ 755,    1],
       [ 758,    1],
       [ 760,    1],
       [ 764,    0],
       [ 764,    1],
       [ 764,    2],
       [ 764,    3],
       [ 764,    4],
       [ 764,    5],
       [ 765,    3],
       [ 775,    1],
       [ 775,    2],
       [ 775,    3],
       [ 776,    1],
       [ 776,    2],
       [ 776,    3],
       [ 777,    1],
       [ 777,    2],
       [ 777,    3],
       [ 778,    1],
       [ 778,    2],
       [ 778,    3],
       [ 787,    4],
       [ 788,    1],
       [ 790,    2],
       [ 794,    3],
       [ 795,    5],
       [ 796,    1],
       [ 796,    4],
       [ 800,    0],
       [ 801,    1],
       [ 802,    1],
       [ 803,    2],
       [ 805,    0],
       [ 809,    0],
       [ 810,    0],
       [ 811,    0],
       [ 812,    1],
       [ 820,    0],
       [ 820,    3],
       [ 820,    4],
       [ 822,    2],
       [ 823,    2],
       [ 825,    0],
       [ 830,    1],
       [ 830,    2],
       [ 836,    3],
       [ 837,    3],
       [ 838,    3],
       [ 839,    4],
       [ 843,    2],
       [ 856,    0],
       [ 856,    1],
       [ 856,    3],
       [ 856,    4],
       [ 856,    5],
       [ 857,    0],
       [ 858,    1],
       [ 870,    0],
       [ 870,    2],
       [ 870,    3],
       [ 872,    0],
       [ 873,    0],
       [ 874,    1],
       [ 890,    1],
       [ 890,    2],
       [ 890,    3],
       [ 909,    1],
       [ 910,    0],
       [ 912,    0],
       [ 912,    2],
       [ 912,    3],
       [ 912,    4],
       [ 928,    1],
       [ 928,    2],
       [ 928,    3],
       [ 929,    1],
       [ 929,    2],
       [ 929,    3],
       [ 930,    3],
       [ 958,    2],
       [ 959,    3],
       [ 960,    3],
       [1024,    0],
       [1024,    2],
       [1026,    2],
       [1026,    4],
       [1028,    0],
       [1028,    3],
       [1028,    4],
       [1029,    0],
       [1030,    1],
       [1030,    5],
       [1032,    0],
       [1032,    5],
       [1034,    3],
       [1035,    4],
       [1036,    2],
       [1037,    1],
       [1038,    4],
       [1039,    3],
       [1040,    0]])

In [139]:
lending_co_data_numeric_nan[1028]

array([    0.,    40.,   365.,     0.,     0., 15600.])

In [129]:
for arr_i in np.argwhere(np.isnan(lending_co_data_numeric_nan)):
    lending_co_data_numeric_nan[arr_i[0], arr_i[1]] = 0

In [130]:
lending_co_data_numeric_nan[175]

array([ 2000.,     0.,     0.,  1851.,  3051., 13561.])

In [131]:
np.isnan(lending_co_data_numeric_nan).sum()

0

## Shuffling Data

## Casting

## Stripping Data

## Stacking

## Concatenate

## Unique