## Variables

In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [4]:
y

8

In [5]:
print (y)

8

In [6]:
x,y = (1,2)

In [7]:
x

1

In [8]:
y

2

In [9]:
x,y,z = (1,2,3)

In [10]:
x1 = 5

In [11]:
type(x1)

int

In [12]:
type(-6)

int

In [13]:
x2 = 4.75

In [14]:
type(x2)

float

In [15]:
def add_ten(x):
    return x + 10

x = int(input("please enter a random integer: >>> "))
print(add_ten(x))

40

In [16]:
x2 = 4.75

In [17]:
int(x2)

4

In [18]:
float(5)

5.0

In [19]:
x3 = True

In [20]:
type(x3)

bool

In [21]:
x3 = True

In [22]:
print(x3)

True

In [23]:
if x3 == True:
    print(f"x3 = {x3}")
else:
    print(False)

x3 = True

## Strings

In [24]:
name = 'George'
print(name)

George

In [25]:
'George'

'George'

In [26]:
print ('George')

George

In [27]:
x4 = "George"

In [28]:
x4

'George'

In [29]:
y = 10
print ("$" + str(y) + " Dollars")
print(f"${str(y)} Dollars")

$10 Dollars
$10 Dollars

In [30]:
'I'm fine'

SyntaxError: unterminated string literal (detected at line 1) (3537474532.py, line 1)

In [31]:
"I'm fine"

"I'm fine"

In [32]:
'I\'m fine'

"I'm fine"

In [33]:
'Press "Enter"'

'Press "Enter"'

In [34]:
'Red' 'car'

'Redcar'

In [35]:
'Red ' 'car'

'Red car'

In [36]:
'Red ' + 'car'

'Red car'

In [37]:
print ('Red ' + 'car')

Red car

In [38]:
print ('Red', 'car')

Red car

<hr style="border:5px solid #108999"> </hr>

# Basic Python Syntax <hr style="border:4.5px solid #108999"> </hr>

## Arithmetic operators

In [1]:
%conda install -c conda-forge jupyterthemes

Error processing line 1 of /Users/robsontrajano/anaconda3/lib/python3.9/site-packages/protobuf-3.19.4-py3.9-nspkg.pth:

  Traceback (most recent call last):
    File "/Users/robsontrajano/anaconda3/lib/python3.9/site.py", line 169, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 562, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.12.0
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/robsontrajano/anaconda3

  added / updated specs:
    - jupyterthemes


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2022.6.15  |       h033912b_0         149 KB  conda-forge
    certifi-2022.6.15          |   py39h6e9494a_0         155 KB  conda-forge
    conda-4.13.0               |   py39h6e9494a_1         986 KB  conda-forge
    jupyterthemes-0.20.0       |             py_1         6.1 MB  conda-forge
    lesscpy-0.15.0             |     pyhd8ed1ab_0          38 KB  conda-forge
    openssl-1.1.1q             |       hfe4f2af_0         1.9 MB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         9.3 MB

The following NEW packages will be INSTALLED:

  jupyterthemes      conda-forge/noarch::jupyterthemes-0.20.0-py_1
  lesscpy            conda-forge/noarch::lesscpy-0.15.0-pyhd8ed1ab_0
  python_abi         conda-forge/osx-64::python_abi-3.9-2_cp39

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2022.4.26-~ --> conda-forge::ca-certificates-2022.6.15-h033912b_0
  certifi            pkgs/main::certifi-2021.10.8-py39hecd~ --> conda-forge::certifi-2022.6.15-py39h6e9494a_0
  conda              pkgs/main::conda-4.12.0-py39hecd8cb5_0 --> conda-forge::conda-4.13.0-py39h6e9494a_1
  openssl              pkgs/main::openssl-1.1.1o-hca72f7f_0 --> conda-forge::openssl-1.1.1q-hfe4f2af_0



Downloading and Extracting Packages
jupyterthemes-0.20.0 | 6.1 MB    |                                       |   0% Error processing line 1 of /Users/robsontrajano/anaconda3/lib/python3.9/site-packages/protobuf-3.19.4-py3.9-nspkg.pth:

  Traceback (most recent call last):
    File "/Users/robsontrajano/anaconda3/lib/python3.9/site.py", line 169, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 562, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
jupyterthemes-0.20.0 | 6.1 MB    | ##################################### | 100%
certifi-2022.6.15    | 155 KB    | ##################################### | 100%
python_abi-3.9       | 4 KB      | ##################################### | 100%
conda-4.13.0         | 986 KB    | ##################################### | 100%
lesscpy-0.15.0       | 38 KB     | ##################################### | 100%
ca-certificates-2022 | 149 KB    | ##################################### | 100%
openssl-1.1.1q       | 1.9 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
jt -l

NameError: name 'jt' is not defined

In [3]:
print (3,5)

3 5

In [4]:
3, 5, 6.9, 7.0, 'car'

(3, 5, 6.9, 7.0, 'car')

In [5]:
1 + 2

3

In [6]:
3 - 5

-2

In [7]:
15 / 3

5.0

In [8]:
16 / 3

5.333333333333333

In [9]:
float(16) / 3

5.333333333333333

In [10]:
16.0 / 3

5.333333333333333

In [11]:
16 % 3

1

In [12]:
5 * 3

15

In [13]:
x = 5 * 3

In [14]:
x

15

## The double-equality sign

In [ ]:
5 ** 3

125

In [ ]:
y = 5 ** 3

In [ ]:
y

125

In [ ]:
y == 125

True

In [ ]:
y == 126

False

## Reassign Values

In [ ]:
z = 1
z

1

In [ ]:
z = 3
z

3

In [ ]:
z + 5

8

In [ ]:
z = 7
z

7

In [ ]:
3 + 5

8

In [ ]:
3 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
3 + 5.0

8.0

## Add Comments

In [ ]:
#This is just a comment and not code! 
print (7,2)

7 2

In [ ]:
# Comment 1
# Comment 2
print (300)

300

## Line Continuation

In [ ]:
2.0 * 1.5 + \
5

8.0

## Indexing Elements

In [ ]:
"Friday"

'Friday'

In [ ]:
"Friday"[3]

'd'

In [ ]:
"Friday"[4]

'a'

## Structure Your Code with Indentation

In [ ]:
def five(x):
    x = 5
    return x
    print (five(3))

In [ ]:
def five(x):
    x = 5
    return x

print (five(3))

5

<hr style="border:5px solid #108999"> </hr>

# Operators <hr style="border:4.5px solid #108999"> </hr>

## Comparison Operators

In [ ]:
10 == 20 / 2

True

In [ ]:
10 != 10

False

In [ ]:
10 != 15

True

In [ ]:
100 > 50

True

In [ ]:
100 < 50

False

In [ ]:
15 >= 10 + 10

False

In [ ]:
15 <= 10 + 5

True

## Logical and Identity Operators

** Logical Operators: **

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and False

False

In [ ]:
False or False

False

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
False or True

True

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
3 > 5 and 10 <= 20

False

**Not - And - Or**

In [ ]:
True and not True

False

In [ ]:
False or not True and True

False

In [ ]:
True and not True or True

True

** Identity Operators: **

In [ ]:
5 is 6

False

In [ ]:
5 == 6

False

In [ ]:
5 is not 6

True

In [ ]:
5 != 6

True

<hr style="border:5px solid #108999"> </hr>

# Conditional Statements <hr style="border:4.5px solid #108999"> </hr>

## Introduction to the IF statement

In [ ]:
if 5 == 15 / 3:
    print ("Hooray!")

Hooray!

In [ ]:
if 5 == 18 / 3:
    print ("Hooray!")

In [ ]:
if 5 != 3 * 6:
    print ("Hooray!")

Hooray!

## Add an ELSE Statement

In [ ]:
x = 1

if x > 3: 
    print ("Case 1")
if x <= 3:
    print ("Case 2")

Case 2

In [ ]:
x = 1

if x > 3:
    print ("Case 1")
else:
    print ("Case 2")

Case 2

In [ ]:
x = 1

if x > 3:
    print ("Case 1")
    else:
        print ("Case 2")

SyntaxError: invalid syntax (<ipython-input-3-ba050cb5c72b>, line 5)

## Else if, for Brief - ELIF

In [ ]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [ ]:
print (compare_to_five(10))

Greater

In [ ]:
print (compare_to_five(2))

Less

In [ ]:
print (compare_to_five(5))

Equal

In [ ]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:          
        return "Less"
    else:
        return "Equal"

In [ ]:
print (compare_to_five(-3))

Negative

In [ ]:
print (compare_to_five(3))

Less

In [ ]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    elif y < 0:          
        return "Negative"
    else:
        return "Equal"

In [ ]:
print (compare_to_five(-3))

Less

In [ ]:
print (compare_to_five(3))

Less

## A Note on Boolean Values

In [ ]:
x = 2

if x > 4:
    print ("Correct")
else:
    print ("Incorrect")

Incorrect

<hr style="border:5px solid #108999"> </hr>

# Functions <hr style="border:4.5px solid #108999"> </hr>

## Defining a Function in Python

In [ ]:
def simple():
    print ("My first function")

In [ ]:
simple()

My first function

## Creating a Function with a Parameter

In [ ]:
def simple():
    print ("My first function")

In [ ]:
simple()

My first function

In [ ]:
def plus_ten(a):
    return a + 10

In [ ]:
plus_ten(2)

12

In [ ]:
plus_ten(5)

15

## Another Way to Define a Function

In [ ]:
def simple():
    print ("My first function")

In [ ]:
simple()

My first function

In [ ]:
def plus_ten(a):
    return a + 10

In [ ]:
plus_ten(2)

12

In [ ]:
plus_ten(5)

15

In [ ]:
def plus_ten(a):
    result = a + 10
    return result

In [ ]:
plus_ten(2)

12

In [ ]:
def plus_ten(a):
    result = a + 10
    return "Outcome:"
    return result

In [ ]:
plus_ten(2)

'Outcome:'

In [ ]:
def plus_ten(a):
    result = a + 10
    print ("Outcome:")
    return result

In [ ]:
plus_ten(2)

Outcome:

12

## Using a Function in Another Function

In [ ]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [ ]:
wage(8), with_bonus(8)

(200, 250)

## Combining Conditional Statements and Functions

In [ ]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [ ]:
add_10(110)

120

In [ ]:
add_10(50)

'Save more!'

## Creating Functions Containing a Few Arguments

In [ ]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    return result

In [ ]:
subtract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [ ]:
subtract_bc(b=3,a=10,c=2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

## Notable Built-In Functions in Python

In [ ]:
type(10)

int

In [ ]:
int(5.0)

5

In [ ]:
float(3)

3.0

In [ ]:
str(500)

'500'

In [ ]:
max(10, 20, 30)

30

In [ ]:
min(10, 20, 30)

10

In [ ]:
z = -20
abs(z)

20

In [ ]:
list_1 = [1,2,3,4]

In [ ]:
sum(list_1)

10

In [ ]:
round(3.555,2)

3.56

In [ ]:
round(3.2)

3

In [ ]:
2 ** 10

1024

In [ ]:
pow(2,10)

1024

In [ ]:
len('Mathematics')

11

<hr style="border:5px solid #108999"> </hr>

# Sequences <hr style="border:4.5px solid #108999"> </hr>

## Lists

In [ ]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [ ]:
print (Participants[1])

Leila

In [ ]:
Participants[-1]

'Cate'

In [ ]:
Participants[-2]

'Gregory'

In [ ]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [ ]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [ ]:
Participants[2]

'Maria'

## Help Yourself with Methods

In [ ]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [ ]:
print (Participants[1])

Leila

In [ ]:
Participants[-1]

'Cate'

In [ ]:
Participants[-2]

'Gregory'

In [ ]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [ ]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [ ]:
Participants[2]

'Maria'

In [ ]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [ ]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [ ]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [ ]:
len('Dolphin')

7

In [ ]:
len(Participants)

6

## List Slicing

In [ ]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [ ]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [ ]:
Participants[1:3]

['Leila', 'Maria']

In [ ]:
Participants[:2]

['John', 'Leila']

In [ ]:
Participants[4:]

['George', 'Catherine']

In [ ]:
Participants[-2:]

['George', 'Catherine']

********

In [ ]:
Maria_ind = Participants.index("Maria")
Maria_ind

2

*********

In [ ]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [ ]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [ ]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [ ]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [ ]:
Numbers = [1,2,3,4,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [ ]:
Numbers.sort(reverse = True)
Numbers

[5, 4, 3, 2, 1]

## Tuples

In [ ]:
x = (40, 41, 42)
x

(40, 41, 42)

In [ ]:
y = 50, 51, 52
y

(50, 51, 52)

In [ ]:
a,b,c = 1,4,6
c

6

In [ ]:
x[0]

40

In [ ]:
List = [x, y]
List

[(40, 41, 42), (50, 51, 52)]

In [ ]:
(age, years_of_school) = "30,17".split(',')
print (age)
print (years_of_school)

30
17

In [ ]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:") 
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

## Dictionaries

In [ ]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [ ]:
dict['k1']

'cat'

In [ ]:
dict["k3"]

'mouse'

In [ ]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [ ]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

******

In [ ]:
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [ ]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

******

In [ ]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [ ]:
print (Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [ ]:
print (Team['Center'])

Hector

In [ ]:
print (Team.get('Small Forward'))

Sean

In [ ]:
print (Team.get('Coach'))

None

<hr style="border:5px solid #108999"> </hr>

# Iteration <hr style="border:4.5px solid #108999"> </hr>

## For Loops

In [ ]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [ ]:
for n in even:
    print (n)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
for n in even:
    print (n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

## While Loops and Incrementing

In [ ]:
x = 0
while x <= 20:
    print (x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## Create Lists with the range() Function

In [ ]:
range(10)

range(0, 10)

In [ ]:
range(3,7)

range(3, 7)

In [ ]:
range(1,20,2)

range(1, 20, 2)

## Use Conditional Statements and Loops Together

In [ ]:
for n in range(10):
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [ ]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

********

In [ ]:
x = [0,1,2]

In [ ]:
for item in x:
    print (item, end = " ")

0 1 2

In [ ]:
for item in range(len(x)):
    print (x[item], end = " ")

0 1 2

In [ ]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [ ]:
list_1 = [1,3,7,15,23,43,56,98]

In [ ]:
count(list_1)

4

In [ ]:
list_2 = [1,3,7,15,23,43,56,98,17]

In [ ]:
count(list_2)

5

## Iterating over Dictionaries

In [ ]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print (money_spent)

74