<hr style="border:5px solid #108999"> </hr>

## Using the .format() Method <hr style="border:4.5px solid #108999"> </hr>

Consider the following string.

In [1]:
"{} expect their next year's sales of Q{} to {}."

"{} expect their next year's sales of Q{} to {}."

Use the **.format()** method to substitute the pairs of braces in the string with the following three values, thus obtaining information about the sales of Company A for the third quarter of next year: 
<br/> 'Company A'
<br/> 3
<br/> 'increase'

In [2]:
"{} expect their next year's sales of Q{} to {}.".format('Company A', 3, 'Increase')

"Company A expect their next year's sales of Q3 to Increase."

In [3]:
f"Company A expect their next year's sales of Q3 to Increase."

"Company A expect their next year's sales of Q3 to Increase."

Execute the next cell to create three variables that store information about companies, quarters and sales performance predictions, respectively.

In [4]:
companies = ['Company A', 'Company B']
quarter = [1, 2, 3, 4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']

Obtain the same output as above while referring to the three lists you just created. Use appropriate indexing to your benefit.
<br/> Here's the output you need to aim for as a reference.
<br/> "Company A expect their next year's sales of Q3 to increase."

In [5]:
"{} expect their next year's sales of Q{} to {}.".format(companies[0], quarter[2], sales_performance_prediction[0])

"Company A expect their next year's sales of Q3 to increase."

Feel free to experiment with the same line of code while referencing different values from the three lists that have been given.

Here's an example:

In [6]:
"{} expect their next year's sales of Q{} to {}.".format(companies[1], quarter[3], sales_performance_prediction[2])

"Company B expect their next year's sales of Q4 to remain the same."

In [10]:
f"{companies[0]} expect their next year's sales of Q{quarter[-1]} to {sales_performance_prediction[2]}"

"Company A expect their next year's sales of Q4 to remain the same"

In [11]:
product_category = ['Electronics', 'Computer Hardware']
print('This item is from product category "%s".' % product_category[0])

This item is from product category "Electronics".

In [16]:
print('This item is from \rproduct category "%s"' % product_category[1])

product category "Computer Hardware"

In [14]:
stock_share_price_list = [40, 56, 89.0]
print("This stock costs $%s \nper share" % stock_share_price_list[0])

This stock costs $40
per share

In [17]:
s = "Price per unit"
s

'Price per unit'

In [19]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

In [20]:
s1.startswith('Cost')

True

In [21]:
s1.startswith('cost')

False

In [22]:
s1.startswith('Price')

False

In [23]:
s1.endswith('nit')

True

In [24]:
s1.endswith('nits')

False

In [25]:
s1

'Cost per unit'

In [26]:
s1.split()

['Cost', 'per', 'unit']

In [27]:
len(s1.split())

3

In [28]:
s1.split(' ')

['Cost', 'per', 'unit']

In [31]:
s1.split('')

ValueError: empty separator

In [40]:
# s1.split('per')
s1.split(' ', 2)

['Cost', 'per', 'unit']

In [36]:
s2 = 'Mr., John, Wilson'

In [37]:
s2.split(',')

['Mr.', ' John', ' Wilson']

In [38]:
s2.split(',')[0]

'Mr.'

In [41]:
s2.split(',')[1]

' John'

In [42]:
s3 = 'Mrs. Amy Moore'

In [43]:
s3.upper()

'MRS. AMY MOORE'

In [44]:
s3.lower()

'mrs. amy moore'

In [45]:
s3.capitalize()

'Mrs. amy moore'

In [46]:
s3.title()

'Mrs. Amy Moore'

In [47]:
s3 == s3.title()

True

In [48]:
'Cost per unit'.title()

'Cost Per Unit'

In [49]:
s4 = '  quarterly earnings report  '

In [50]:
s4.strip()

'quarterly earnings report'

In [51]:
s4.strip(' ')

'quarterly earnings report'

In [52]:
s4.strip(' r')

'quarterly earnings report'

In [53]:
s4.strip(' qt')

'uarterly earnings repor'

In [54]:
s4.lstrip(' quarterly')

'nings report  '

In [55]:
s4.lstrip()

'quarterly earnings report  '

In [56]:
s4.rstrip()

'  quarterly earnings report'

In [57]:
s6 = ' *&^%$ Quarterly earnings Report @# '

In [58]:
s6.strip(' !@#$%^&*()').title()

'Quarterly Earnings Report'

In [59]:
import pandas as pd

In [60]:
operational_kpis = pd.Series(["employee satisfaction rating", "employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [61]:
operational_kpis.lstrip('employee')

AttributeError: 'Series' object has no attribute 'lstrip'

In [63]:
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [64]:
operational_kpis[1].lstrip('employee')

' churn rate'

In [65]:
pd.Series([operational_kpis[0].lstrip('employee'), operational_kpis[1].lstrip('employee')])

0     satisfaction rating
1              churn rate
dtype: object

In [66]:
operational_kpis.str

In [67]:
operational_kpis.str[1]

0    m
1    m
dtype: object

In [68]:
operational_kpis[1]

'employee churn rate'

In [70]:
test_series = pd.Series(['Text_data', 34])
test_series

0    Text_data
1           34
dtype: object

In [71]:
test_series.str.lstrip('Text_')

0    data
1     NaN
dtype: object

In [72]:
house_prices = pd.Series(['$400,000', '$500,000', '$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [73]:
house_prices.str.contains('$')

0    True
1    True
2    True
dtype: bool