<hr style="border:5px solid #108999"> </hr>

# pandas Series <hr style="border:4.5px solid #108999"> </hr>

For starters, import the pandas library, using the relevant well-known convention.

In [2]:
import pandas as pd

## .unique() & .nunique()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [3]:
data = pd.read_csv('Region.csv', squeeze = True)
region_data = data.copy()
region_data.head()

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

Verify that **region_data** is a Series object.

In [4]:
type(region_data)

pandas.core.series.Series

Use the *.describe()* method to obtain descriptive statistics on the **region_data** Series.
<br>Think of how many unique values there are in the data set. 
<br>*Please note that the statistics provided in the output exclude missing data.*

In [5]:
region_data.describe()

count         1042
unique          18
top       Region 6
freq           326
Name: Region, dtype: object

You can obtain some of the values from the previous output by using Python built-in functions or methods. Please extract the total number of values from the **region_data** Series, then the number of unique values. Finally, obtain a list containing all unique values from this Series.

In [6]:
len(region_data)

1042

In [7]:
region_data.nunique()

18

In [8]:
region_data.unique()

array(['Region 2', 'Region 6', 'Region 3', 'Region 1', 'Region 5',
       'Region 9', 'Region 7', 'Region 4', 'Region 12', 'Region 16',
       'Region 8', 'Region 10', 'Region 13', 'Region 15', 'Region 11',
       'Region 14', 'Region 17', 'Region 18'], dtype=object)

## .sort_values()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [9]:
data = pd.read_csv("Region.csv", squeeze=True)
region_data = data.copy()
region_data.head()

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

Sort the values without specifying any arguments.

In [11]:
region_data.sort_values()

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

*Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18. Then we have 2, 3, 4, etc., until 8, and eventually - 9.*

Sort the values, setting the *ascending* parameter equal to *True*.

In [12]:
region_data.sort_values(ascending=True)

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

Sort the values in **region_data** in descending order.

In [14]:
region_data.sort_values(ascending=False)

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

## Attribute and Method Chaining

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [15]:
data = pd.read_csv("Region.csv", squeeze=True)
region_data = data.copy()
region_data.head()

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

Use method chaining to obtain the first five rows from the values of **region_data** sorted in ascending order.

In [17]:
region_data.sort_values().head()

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
Name: Region, dtype: object

Use method chaining to obtain the first five rows from the values of **region_data** sorted in descending order.

In [18]:
region_data.sort_values(ascending=False).head()

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
Name: Region, dtype: object

Execute the next code cell to create a Series object called **emp_birth_date** that contains the employee numbers and the dates of birth of certain 4 employees.

In [19]:
emp_birth_date = pd.Series({'No_0001':'1963-08-02', 'No_0002':'1964-06-13', 'No_0003':'1989-12-04', 'No_0004':'1996-04-08'})
emp_birth_date

No_0001    1963-08-02
No_0002    1964-06-13
No_0003    1989-12-04
No_0004    1996-04-08
dtype: object

Obtain just the index of **emp_birth_date**.

In [20]:
emp_birth_date.index

Index(['No_0001', 'No_0002', 'No_0003', 'No_0004'], dtype='object')

Obtain the row labels of the index, i.e. its values, stored in an array.

In [23]:
emp_birth_date.index.to_numpy()

array(['No_0001', 'No_0002', 'No_0003', 'No_0004'], dtype=object)

## .sort_index()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [28]:
data = pd.read_csv("Region.csv", squeeze=True)
region_data = data.copy()
region_data.head()

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

Overwrite the content of the **region_data** Series as you sort the values in *descending* order. Observe the index of the Series. Is it ordered correctly?

In [29]:
region_data = region_data.sort_values(ascending=False)
region_data

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

Sort the index of the new version of the **region_data** Series object.

In [30]:
region_data.sort_index()

0       Region 2
1       Region 6
2       Region 3
3       Region 2
4       Region 3
          ...
1037    Region 6
1038    Region 1
1039    Region 4
1040    Region 6
1041    Region 6
Name: Region, Length: 1042, dtype: object

In [31]:
len(region_data)

1042

Sort the index of the **region_data** Series in opposite direction. You can do that by setting the *ascending* parameter equal to *False*.

In [32]:
region_data.sort_index(ascending=False)

1041    Region 6
1040    Region 6
1039    Region 4
1038    Region 1
1037    Region 6
          ...
4       Region 3
3       Region 2
2       Region 3
1       Region 6
0       Region 2
Name: Region, Length: 1042, dtype: object

In [33]:
type(region_data.sort_index(ascending=False))

pandas.core.series.Series

In [34]:
import pandas as pd

In [35]:
data = pd.read_csv("Location.csv", squeeze=True)
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [36]:
location_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [37]:
location_data_sv = location_data.sort_values(ascending=False)
location_data_sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [38]:
location_data_sv.index

Int64Index([ 372,  757,  128,  482,  271,  669,  612,   29,  518,  598,
            ...
             904,  912, 1010,   14,  716,  202,  298,  637,  884,  465],
           dtype='int64', length=1043)

In [39]:
location_data_sv.index.sort_values()

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042],
           dtype='int64', length=1043)

In [40]:
location_data_sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [41]:
location_data_sv.index = location_data_sv.index.sort_values()

In [42]:
location_data_sv

0       Location 99
1       Location 98
2       Location 97
3       Location 97
4       Location 97
           ...
1038    Location 10
1039    Location 10
1040     Location 1
1041     Location 1
1042     Location 1
Name: Location, Length: 1043, dtype: object

In [43]:
location_data_sv = location_data.sort_values(ascending=False)

In [44]:
location_data_sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [45]:
location_data_sv.sort_index()

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [46]:
location_data_sv

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [47]:
location_data_sv = location_data_sv.sort_index(ascending=True)
location_data_sv

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object